<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>


<body>


  <form action="/signup", method="POST">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" placeholder="Enter your name here"><br>
    <label for="email">e-Mail</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your e-Mail here"><br>
    <input type="submit" name="" value="signup">
  </form>


</body>


</html>