<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% for user in users %}
        
        name: {{user.name}} 
        email: {{user.email}}<br><br>

    
    {% endfor %}


    {% if users %}
        Hey there are users!
    {% endif %}

    {% if not users %}
        Hey there are no users!
    {% endif %}

    



</body>
</html>